
@{
    ViewBag.Title = "Ayuda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br />
<!-- Top content -->
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-sm-offset-2 text-center">
                    <h1 style="padding:30px"><strong>Preguntas frecuentes.</strong> </h1>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center" >
                    <div class="bor10 p-lr-40 p-t-30 p-b-40  p-lr-15-sm">
                        <h1><strong>Déjanos </strong>  tus preguntas </h1>
                        <h5 style="padding:3px; font-size:100px"><strong><i class="fa fa-question-circle" aria-hidden="true"></i></strong> </h5>
                        <div class="description">
                            <br />
                            <p>
                                Para poder brindarte el mejor servicio y los demás usuario den solución a sus posibles dudas.
                            </p>
                        </div>
                        <br />
                        <div class="col-lg-12 form-group">
                            <input name="Qnombre" id="Qnombre" placeholder="Nombre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre'"
                                   class="common-input mb-20 form-control" required="" onkeypress="return soloLetras(event)" type="text">
                            <br />
                            <input name="Email3" id="Email3" placeholder="Email" onKeyUp="Correo('Email3')" class="common-input mb-20 form-control" required="" type="email">
                        </div>
                        <div class="col-lg-12 form-group">
                            <textarea class="common-textarea form-control" name="pregunta" id="pregunta" placeholder="Pregunta" onfocus="this.placeholder = ''"
                                      onblur="this.placeholder = 'Mensaje'" required=""></textarea>
                        </div>
                        <div class="col-lg-12">

                            <div id='alertBoxes3' class="text-center"></div><span class='timer3' id='timer3'></span>
                            <br />
                            <a class=" cl2 hov-cl1 trans-04 m-tb-5">
                                <button type="button" id="EnviarQuestion" class="flex-c-m cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04">Enviar pregunta  &nbsp; <i class="fa fa-share-square-o" aria-hidden="true"></i></button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-10 m-r-4 m-lr-0-xl p-lr-15-sm">
                        @{
                            foreach (var pregunta in @ViewBag.preguntas)
                            {
                                <h4><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> @pregunta.pregunta </h4>
                                <br />
                                <p style="color:#808080">@pregunta.respuesta.</p>
                                <hr />
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<div class="bg6 flex-c-m flex-w size-302 ">
    <span class="stext-107 cl6 p-lr-25">
        <label id="m_TipoCategoriaS"></label>
    </span>
    <span class="stext-107 cl6 p-lr-25">
    </span>
</div>

<script>
    $(document).ready(function () {
            $('#timer3').hide(0);
            $('#timer3').css('display', 'none');

            $('#EnviarQuestion').click(function () {
                var timeSlide = 1000;
                $('#timer3').hide(0);
                $('#timer3').css('display', 'none');

                $( "#EnviarQuestion" ).attr("disabled", true);
                $('.box-success3,.box-error3').slideUp(timeSlide);

                setTimeout(function () {
                    if (validaQ() == "ok") {
                        
                        $('#timer3').fadeOut(300);
                        $('#alertBoxes3').html('<div class="box-error3"></div>');
                        $('.box-error3').hide(0).html("Enviado <img src='/images/icons/ajax-loader.gif' width='20px' height='20px'/>");
                        $('.box-error3').slideDown(timeSlide);

                        var obj = {};

                        obj['email'] = $('#Email3').val();
                        obj['nombre'] = $('#Qnombre').val();
                        obj['pregunta'] = $('#pregunta').val();

                        var jsonObject = {
                            "Pregunta": obj
                        };

                        //console.log(jsonObject);

                        $.ajax({
                            url: "@Url.Action("Pregunta", "home")",
                            type: "POST",
                            data: JSON.stringify(jsonObject),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            error: function (response) {
                                $('#timer3').fadeOut(300);
                                $('#alertBoxes3').html('<div class="box-error3"></div>');
                                $('.box-error3').hide(0).html('Ha ocurrido un problema durante la ejecución');
                                $('.box-error3').slideDown(timeSlide);
                            },
                            success: function (response) {

                                if (response.Respuesta) {
                                    swal({
                                      title: "Registro exitoso !",
                                      text: response.Contenido,
                                      icon: "success",
                                      button: "Aceptar",
                                    })
                                        .then((value) => {
                                            window.location.href = "@Url.Action("Ayuda", "Home")";
                                    });
                                }
                                else {
                                    swal({
                                      title: "Algo ocurrió !",
                                      text: response.Contenido,
                                      icon: "warning",
                                      button: "Aceptar",
                                    });
                                }

                            }
                        });

                    }
                    else {
                        $('#timer3').fadeOut(300);
                        $('#alertBoxes3').html('<div class="box-error3"></div>');
                        $('.box-error3').hide(0).html(validaQ());
                        $('.box-error3').slideDown(timeSlide);
                        $("#EnviarQuestion").prop("disabled", false);

                        $.notify({
	                        icon: 'fa fa-paw',
	                        message: "Formulario incompleto ."
                        },{
                                type: 'danger',
                            allow_dismiss: false,
                            animate: {
		                        enter: 'animated rollIn',
		                        exit: 'animated rollOut'
	                        }
                        });
                    }
                }, timeSlide);
                return false;
            });

    });

    function validaQ() {
        var respuesta = "";
        
            $('#Qnombre').css("border", "1px solid #64C0FF");
            $('#Email3').css("border", "1px solid #64C0FF");
            $('#pregunta').css("border", "1px solid #64C0FF");

        if ($('#Qnombre').val().length > 0) {
                if ($('#Email3').val().length > 0) {
                    if ($('#pregunta').val().length > 0) {
                        if (Correo3() == "ok") {
                            respuesta = "ok";
                        }else{
                            $('#Email3').css("border", "1px solid red");
                            respuesta = "Coloca tu email correctamente";
                        }
                    }
                    else {
                        $('#pregunta').css("border", "1px solid red");
                        respuesta = "Coloca tu mensaje";
                    }
                } else {
                    $('#Email').css("border", "1px solid red");
                    respuesta = "Coloca tu email";
                }
            } else {
                $('#nombre').css("border", "1px solid red");
                respuesta = "Coloca tu nombre";
            }
            return respuesta;
        };
</script>