<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios inmobiliarios G</title>
    <!--===============================================================================================-->
    <link rel="shortcut icon" href="~/images/icons/ico.ico">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <!--===============================================================================================-->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body class="animsition">

    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <!-- Topbar -->
            <div class="top-bar">
                <div class="content-topbar flex-sb-m h-full container">
                    <div class="left-top-bar">
                        <i class="fa fa-phone" aria-hidden="true"></i> &nbsp;55 2909 7024 / 55 3566 4390
                    </div>

                    <div class="right-top-bar flex-w h-full">
                        <a href="@Url.Action("Ayuda", "business")" class="flex-c-m trans-04 p-lr-25">
                            <i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp; Ayuda
                        </a>

                        <a href="#" onclick="CerrarSesion();" class="flex-c-m trans-04 p-lr-25">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>  &nbsp; Cerrar sesión
                        </a>

                        <a href="@Url.Action("Contacto", "business")" class="flex-c-m trans-04 p-lr-25">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp;Contacto / Soporte
                        </a>

                        <a href="#" class="flex-c-m trans-04 p-lr-25">
                            MEX
                        </a>
                    </div>
                </div>
            </div>

            <div class="wrap-menu-desktop">
                <nav class="limiter-menu-desktop container">

                    <!-- Logo desktop -->
                    <a href="#" class="logo">
                        <img src="~/images/icons/SERVICIOS_I_G_B.png" alt="SIG" />
                    </a>

                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li id="Menu_Inicio">
                                <a href="@Url.Action("Index", "business")">Inicio</a>
                            </li>

                            <li id="Menu_Categoria">
                                <a href="@Url.Action("Categorias", "business")">Categorías</a>
                            </li>

                            <li id="Menu_Busqueda">
                                <a href="@Url.Action("Busqueda", "business")">Buscar</a>
                            </li>

                            <li id="Menu_Publicar">
                                <a href="@Url.Action("Index", "PublicarAnuncio")">Publicar  </a>
                            </li>

                            <li id="Menu_Ayuda">
                                <a href="@Url.Action("Ayuda", "business")">Ayuda </a>
                            </li>

                            <li id="Menu_Contacto">
                                <a href="@Url.Action("Contacto", "business")">Contacto </a>
                            </li>
                            <li id="Menu_MiPerfil">
                                <a href="@Url.Action("Index", "MiCuenta")">Mi Perfil</a>
                                <ul class="sub-menu">
                                    <li><a href="#" onclick="CerrarSesion();">Cerrar sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <!-- Icon header -->
                    <div class="wrap-icon-header flex-w flex-r-m">
                        <a href="@Url.Action("Busqueda", "business")" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                            <i class="zmdi zmdi-search"></i>
                        </a>

                        @*<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                            <i class="zmdi zmdi-search"></i>
                        </div>*@
                        
                        <a href="@Url.Action("Comparar", "Comparar")" id="BtIconsnComparar" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="0">
                            <i class="zmdi zmdi-swap"></i>
                        </a>

                        <a href="@Url.Action("Interes", "Interes")" id="BtIconsnInteres" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0">
                            <i class="zmdi zmdi-favorite-outline"></i>
                        </a>
                    </div>
                </nav>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="#">
                    <img src="~/images/icons/Logo.png" alt="SIG" />
                </a>
            </div>

            <!-- Icon header -->
            <div class="wrap-icon-header flex-w flex-r-m m-r-15">
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
                    <i class="zmdi zmdi-search"></i>
                </div>

                <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="0">
                    <i class="zmdi zmdi-swap"></i>
                </div>

                <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" data-notify="0">
                    <i class="zmdi zmdi-favorite-outline"></i>
                </a>
            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>


        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li>
                    <div class="left-top-bar">
                        <i class="fa fa-phone" aria-hidden="true"></i> &nbsp;55 2909 7024 / 55 3566 4390

                    </div>
                </li>

                <li>
                    <div class="right-top-bar flex-w h-full">
                        <a href="@Url.Action("Ayuda", "business")" class="flex-c-m p-lr-10 trans-04">
                            <i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp; Ayuda
                        </a>

                        <a href="#" class="flex-c-m p-lr-10 trans-04">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>  &nbsp; Cerrar sesión
                        </a>

                        <a href="@Url.Action("Contacto", "business")" class="flex-c-m p-lr-10 trans-04">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp;Contacto / Soporte
                        </a>

                        <a href="#" class="flex-c-m p-lr-10 trans-04">
                            MEX
                        </a>
                    </div>
                </li>
            </ul>

            <ul class="main-menu-m">
                <li>
                    <a href="@Url.Action("Index", "business")">Inicio</a>
                </li>

                <li>
                    <a href="@Url.Action("Categorias", "business")">Categorías</a>
                </li>

                <li>
                    <a href="@Url.Action("SitioEnContruccion", "business")">Buscar</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "PublicarAnuncio")">Publicar</a>
                </li>

                <li>
                    <a href="@Url.Action("Ayuda", "business")">Ayuda</a>
                </li>

                <li>
                    <a href="@Url.Action("Contacto", "business")">Contacto</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "MiCuenta")">Mi Perfil</a>
                </li>
                <li>
                    <a href="#" onclick="CerrarSesion();">Cerrar sesión </a>
                </li>
            </ul>
        </div>

        <!-- Modal Search -->
        <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
            <div class="container-search-header">
                <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">

                    <img src="~/images/icons/icon-close2.png" alt="CERRAR" />
                </button>

                <form class="wrap-search-header flex-w p-l-15">
                    <button class="flex-c-m trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                    <input class="plh3" type="text" name="search" placeholder="Buscar ...">
                </form>
            </div>
        </div>
    </header>

    @RenderBody()


    <!-- Footer -->
    <footer class="bg3 p-t-75 p-b-32">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-10">
                        ¿ Quiénes somos ?
                    </h4>
                    <p style="color:#ffffff; font-size: 13px;">
                        Empresa 100% mexicana, con más de 30 años de experiencia ayudando a empresas nacionales e internacionales.
                    </p>
                    <hr />
                    <ul class="footer-links">
                        <li>
                            <a href="#">
                                <i class="fa fa-map-marker"></i>
                                A.V Universidad 1627, Col. Hacienda de Guadalupe Chimalistac
                                Del. Álvaro Obregón, C.P. 01050, CDMX México.
                            </a>
                        </li>
                        <li><a href="#"><i class="fa fa-phone"></i> 55 2909 7024 / 55 3566 4390</a></li>
                        <li><a href="#"><i class="fa fa-envelope-o"></i>sig_contacto@serviciosinmobiliariosg.com</a></li>
                    </ul>

                    <div class="p-t-27">
                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-instagram"></i>
                        </a>

                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-2 p-b-50">
                    <h4 class="stext-301 cl0 p-b-10">
                        CATEGORÍAS
                    </h4>

                    <ul class="footer-links">
                        <li><a href="@Url.Action("Oficinas", "business")"><i class="fa fa-caret-right" aria-hidden="true"></i>Oficinas</a></li>
                        <li><a href="@Url.Action("Departamentos", "business")"><i class="fa fa-caret-right" aria-hidden="true"></i>Departamentos </a></li>
                        <li><a href="@Url.Action("Casas", "business")"><i class="fa fa-caret-right" aria-hidden="true"></i>Casas </a></li>
                        <li><a href="@Url.Action("Ranchos", "business")"><i class="fa fa-caret-right" aria-hidden="true"></i>Ranchos </a></li>
                        <li><a href="@Url.Action("Quirofano", "business")"><i class="fa fa-caret-right" aria-hidden="true"></i>Quirofano </a></li>
                        <li><a href="@Url.Action("Consultorio", "business")"><i class="fa fa-caret-right" aria-hidden="true"></i>Consultorio </a></li>

                    </ul>
                </div>

                <div class="col-sm-6 col-lg-2 p-b-50">
                    <h4 class="stext-301 cl0 p-b-10">
                        Información
                    </h4>

                    <ul class="footer-links">
                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Sobre nosotros</a></li>
                        <li><a href="@Url.Action("Contacto", "business")"><i class="fa fa-caret-right" aria-hidden="true"></i>Contáctanos </a></li>
                        <li><a href="@Url.Action("PoliticasPrivacidad", "business")"><i class="fa fa-caret-right" aria-hidden="true"></i>Políticas de privacidad</a></li>
                        <li><a href="@Url.Action("terminosycondiciones", "business")"><i class="fa fa-caret-right" aria-hidden="true"></i>Términos y condiciones </a></li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-2 p-b-50">
                    <h4 class="stext-301 cl0 p-b-10">
                        SERVICIOS
                    </h4>
                    <ul class="footer-links">
                        <li><a href="@Url.Action("Index", "MiCuenta")"><i class="fa fa-caret-right" aria-hidden="true"></i>Mi cuenta </a></li>
                        <li><a href="@Url.Action("Categorias", "Home")"><i class="fa fa-caret-right" aria-hidden="true"></i>Tu interés </a></li>
                        @*<li><a href="@Url.Action("Registrar", "Adm")"><i class="fa fa-caret-right" aria-hidden="true"></i>Crear una cuenta </a></li>*@
                        <li><a href="@Url.Action("Ayuda", "business")"><i class="fa fa-caret-right" aria-hidden="true"></i>Ayuda </a></li>
                    </ul>
                </div>


                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Noticias
                    </h4>
                    <p style="color:#ffffff">Suscríbete y recibe nuestras <strong>ultimas publicaciones</strong></p>
                    <form>
                        <div class="wrap-input1 w-full p-b-4">
                            <br />
                            <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email2" id="email2" placeholder="email@ejemplo.com" onKeyUp="Correo('email2')">
                            <div class="focus-input1 trans-04"></div>
                        </div>
                        <br />
                        <div id='alertBoxes2' class="text-center"></div><span class='timer2' id='timer2'></span>
                        <div class="p-t-18">
                            <button id="EnviarMensaeje2" class="flex-c-m cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                Suscribir
                            </button>
                        </div>

                    </form>
                </div>
            </div>

            <div class="p-t-40">

                <p class="stext-107 cl6 txt-center">
                    Copyright &copy; @DateTime.Now.Year - Todos los derechos reservados |<a target="_blank" style="color: #17a2b8;"> Servicios inmobiliarios G
                </p>
            </div>
        </div>
    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>


    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>

    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/chart.js/chart.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/slick/slick.min.js"></script>
    <script src="~/Scripts/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/parallax100/parallax100.js"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="~/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/bootstrap-notify.js"></script>
    <script>
        $('.js-addwish-b2').on('click', function (e) {
            e.preventDefault();
        });

        $('.js-addwish-b2').each(function () {
            var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-b2');
                $(this).off('click');
            });
        });

        $('.js-addwish-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-detail');
                $(this).off('click');
            });
        });

        /*---------------------------------------------*/

        $('.js-addcart-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to cart !", "success");
            });
        });

    </script>
    <!--===============================================================================================-->
    <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/Scripts/main.js"></script>

    <script>
        $(document).ready(function () {
            $('#timer2').hide(0);
            $('#timer2').css('display', 'none');

            $('#EnviarMensaeje2').click(function () {

                var timeSlide = 1000;
                $('#timer2').hide(0);
                $('#timer2').css('display', 'none');

                $( "#EnviarMensaeje2" ).attr("disabled", true);
                $('.box-success2,.box-error2').slideUp(timeSlide);

                setTimeout(function () {
                    if (valida2() == "ok") {
                        $('#timer2').fadeOut(300);
                        $('#alertBoxes2').html('<div class="box-error2"></div>');
                        $('.box-error2').hide(0).html("Enviado <img src='http://www.serviciosinmobiliariosg.com.mx/images/icons/ajax-loader.gif' width='20px' height='20px'/>");
                        $('.box-error2').slideDown(timeSlide);

                        var arreglo = [];
                        var obj = {};

                        obj['email'] = $('#email2').val();

                        arreglo.push(obj);

                        var jsonObject = {
                            "Email": arreglo
                        };

                        console.log(jsonObject);

                        $.ajax({
                            url: "@Url.Action("LlamarJsonEmail", "Email")",
                            type: "POST",
                            data: JSON.stringify(jsonObject),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            error: function (response) {
                                $('#timer2').fadeOut(300);
                                $('#alertBoxes2').html('<div class="box-error2"></div>');
                                $('.box-error2').hide(0).html('Ha ocurrido un error durante la ejecución');
                                $('.box-error2').slideDown(timeSlide);
                                grecaptcha.reload();
                                grecaptcha.reset();
                            },
                            success: function (response) {
                                if (response == "ok") {

                                    $('#alertBoxes2').html('<div class="box-success2"></div>');
                                    $('.box-success2').hide(0).html('Envío éxitoso.');
                                    $('.box-success2').slideDown(timeSlide);
                                    $( "#EnviarMensaeje2" ).prop( "disabled", false );
                                    window.setTimeout('location.reload()', 3000); //Reloads after three seconds

                                    //window.location.reload(true);

                                    //location.reload();

                                } else {
                                    $( "#EnviarMensaeje2" ).prop( "disabled", false );
                                    $('#timer2').fadeOut(300);
                                    $('#alertBoxes2').html('<div class="box-error2"></div>');
                                    $('.box-error2').hide(0).html(response);
                                    $('.box-error2').slideDown(timeSlide);
                                    grecaptcha.reload();
                                    grecaptcha.reset();

                                }
                            }
                        });

                    }
                    else {
                        $('#timer2').fadeOut(300);
                        $('#alertBoxes2').html('<div class="box-error2"></div>');
                        $('.box-error2').hide(0).html(valida2());
                        $('.box-error2').slideDown(timeSlide);
                        $("#EnviarMensaeje2").prop("disabled", false);

                        $.notify({
	                        icon: 'fa fa-paw',
	                        message: "Formulario incompleto ."
                        },{
                                type: 'danger',
                            allow_dismiss: false,
                            animate: {
		                        enter: 'animated rollIn',
		                        exit: 'animated rollOut'
	                        }
                        });

                    }
                }, timeSlide);
                return false;
            });

        });

        function valida2() {
            var respuesta = "";
            $('#email2').css("border", "1px solid #64C0FF");

            if ($('#email2').val().length > 0) {
                if (Correo2() == "ok") {
                    respuesta = "ok";
                }else{
                    $('#email2').css("border", "1px solid red");
                    respuesta = "Coloca tu email correctamente";
                }
            } else {
                $('#email2').css("border", "1px solid red");
                respuesta = "Coloca tu email";
            }

            return respuesta;
        };


        function CerrarSesion() {
            swal({
              title: "Confirmación de cierre de sesión",
              text: "Deseas cerrar tu sesión dentro de SIG!",
              icon: "warning",
              buttons: true,
                dangerMode: true,
              buttons: ["Cancelar", "Aceptar"],
            })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "@Url.Action("CerrarSesion", "Adm")",
                        type: "POST",
                        data: '',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        error: function (response) {
                            swal({
                                title: "Algo ocurrió !",
                                text: "Ha ocurrido un problema, inténtalo mas tarde ",
                                icon: "warning",
                                button: "Aceptar",
                            });
                        },
                        success: function (response) {
                            if (response.IdRol != 0) {
                                swal({
                                    title: "Sesión terminada !",
                                    text: response.Nombre + " " + response.Apellidos + " regresa pronto !",
                                    icon: "success",
                                    button: "Aceptar",
                                })
                                .then((value) => {
                                    window.location.href = "@Url.Action("Login", "Adm")";
                                });
                            }
                        }
                    });

                } else {
                swal("Tu sesión, se encuentra activa!");
            }
        });
        }
        $( document ).ready(function() {
            $.ajax({
                url: "@Url.Action("Interes_Consultar", "Interes")",
                type: "POST",
                data: '',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (response) {
                    $('#BtIconsnInteres').attr('data-notify', 0);
                },
                success: function (response) {
                    $('#BtIconsnInteres').attr('data-notify', response.Total);
                }
            });

            $.ajax({
                url: "@Url.Action("Comparar_Consultar", "Comparar")",
                type: "POST",
                data: '',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (response) {
                    $('#BtIconsnComparar').attr('data-notify', 0);
                },
                success: function (response) {
                    $('#BtIconsnComparar').attr('data-notify', response.Total);
                }
            });


            // PINTA POSICION DEL MENU.
            var pathname = window.location.pathname;
            $("#Menu_Inicio").removeClass("active-menu");
            $("#Menu_Categoria").removeClass("active-menu");
            $("#Menu_Busqueda").removeClass("active-menu");
            $("#Menu_Publicar").removeClass("active-menu");
            $("#Menu_Ayuda").removeClass("active-menu");
            $("#Menu_Contacto").removeClass("active-menu");
            $("#Menu_MiPerfil").removeClass("active-menu");
            //alert(pathname);

            if (pathname == "/business") {
                $("#Menu_Inicio").addClass("active-menu");
            } else if (pathname == "/business/Index") {
                $("#Menu_Inicio").addClass("active-menu");
            } else if (pathname == "/business/Categorias") {
                $("#Menu_Categoria").addClass("active-menu");
            } else if (pathname == "/business/Busqueda") {
                $("#Menu_Busqueda").addClass("active-menu");
            } else if (pathname == "/business/Busqueda") {
                $("#Menu_Busqueda").addClass("active-menu");
            } else if (pathname == "/PublicarAnuncio") {
                $("#Menu_Publicar").addClass("active-menu");
            } else if (pathname == "/business/Ayuda") {
                $("#Menu_Ayuda").addClass("active-menu");
            } else if (pathname == "/business/Contacto") {
                $("#Menu_Contacto").addClass("active-menu");
            } else if (pathname == "/MiCuenta") {
                $("#Menu_MiPerfil").addClass("active-menu");
            }

        });
    </script>
</body>
</html>
