
@{
    Layout = "~/Views/Shared/_LayoutBusiness.cshtml";
}
<style>
    .nav-pills .nav-link.active, .show > .nav-pills .nav-link {
        color: #fff;
        background-color: #17a2b8 !important;
    }

    .nav-link {
        display: block;
        padding: .5rem 1rem;
        COLOR: #212529;
    }
</style>
<style>
    .cardIn {
        position: relative;
        font-family: 'Proxima Nova',-apple-system,'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1.5px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.100);
        -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.100);
        box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.100);
    }

    .card-titleIn {
        margin-bottom: .75rem;
        font-family: 'Proxima Nova',-apple-system,'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;
        font-size: 14px;
        font-weight: bold;
    }

    .card-top-bar {
        height: 6px;
        background: #00d2ff;
        background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
        background: linear-gradient(to right, #3a7bd5, #00d2ff);
    }

    .card-top-bar-DU {
        height: 6px;
        background: #FFEB3B;
        background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
        background: linear-gradient(to right, #FFEB3B, #FF9800);
    }

    .card-top-bar-RE {
        height: 6px;
        background: #673AB7;
        background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
        background: linear-gradient(to right, #673AB7, #9C27B0);
    }

    .card-top-bar-Renta {
        height: 6px;
        background: #4CAF50;
        background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
        background: linear-gradient(to right, #4CAF50, #CDDC39);
    }

    .card-top-bar-Vendido {
        height: 6px;
        background: #FFC107;
        background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
        background: linear-gradient(to right, #FFC107, #F44336);
    }

    .card-top-bar-RADM {
        height: 6px;
        background: #E91E63;
        background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
        background: linear-gradient(to right, #E91E63, #F44336);
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .5rem .75rem;
        font-size: 1rem;
        line-height: 1.25;
        border-radius: .25rem;
        transition: all .15s ease-in-out;
        font-family: 'Proxima Nova',-apple-system,'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;
        border-color: #17a2b8;
        background-color: #17a2b8;
        color: #ffffff;
    }

        .btn:hover {
            border-color: #17a2b8;
            background-color: #f8f9fa;
            color: #17a2b8;
        }
</style>
<br />
<br />
<br />


<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="bor10 p-lr-40 p-t-30 p-b-40  p-lr-15-sm">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="color:goldenrod">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">@*<i class="fa fa-tasks" aria-hidden="true"></i>*@ Resumen </a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">@*<i class="fa fa-newspaper-o" aria-hidden="true"></i>*@ Mis Publicaciones </a>
                        <a class="nav-link" id="v-pills-mess-tab" data-toggle="pill" href="#v-pills-mess" role="tab" aria-controls="v-pills-mess" aria-selected="false">@*<i class="fa fa-paper-plane-o" aria-hidden="true"></i>*@ Mis Mensajes </a>
                        <a class="nav-link" id="v-pills-inmuebles-tab" data-toggle="pill" href="#v-pills-inmuebles" role="tab" aria-controls="v-pills-inmuebles" aria-selected="false">@*<i class="fa fa-database" aria-hidden="true"></i>*@ Inmuebles </a>
                        <a class="nav-link" id="v-pills-datos-tab" data-toggle="pill" href="#v-pills-datos" role="tab" aria-controls="v-pills-datos" aria-selected="false">@*<i class="fa fa-database" aria-hidden="true"></i>*@ Mis Datos </a>
                    </div>
                </div>
            </div>


            <div class="col-md-8">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-10 m-r-4 m-lr-0-xl p-lr-15-sm">

                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                            <h5><strong>Alcance de mis publicaciones</strong> </h5>

                            @*<p>Últimos 7 días</p>*@

                            <hr />

                            <div class="row text-center">
                                <div class="card bg-light mb-5" style="max-width: 30rem;">
                                    <div class="card-header"> </div>
                                    <div class="card-body">
                                        <h1 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i></h1>
                                        <h1 class="card-title">@ViewBag.VieuTotal</h1>
                                        <p class="card-text">Vieron mis anuncios.</p>
                                    </div>
                                </div>
                                <div class="card text-white bg-info mb-5" style="max-width: 30rem;">
                                    <div class="card-header"> </div>
                                    <div class="card-body">
                                        <h1 class="card-title"><i class="fa fa-comments" aria-hidden="true"></i></h1>
                                        <h1 class="card-title">@ViewBag.MensajeTotal</h1>
                                        <p class="card-text">Mensajes recibidos .</p>
                                    </div>
                                </div>
                                <div class="card bg-light mb-5" style="max-width: 30rem;">
                                    <div class="card-header"> </div>
                                    <div class="card-body">
                                        <h1 class="card-title"><i class="fa fa-phone-square" aria-hidden="true"></i></h1>
                                        <h1 class="card-title">@ViewBag.Num</h1>
                                        <p class="card-text">Vieron mi teléfono.</p>
                                    </div>
                                </div>
                                <div class="card text-white bg-info mb-5" style="max-width: 30rem;">
                                    <div class="card-header"> </div>
                                    <div class="card-body">
                                        <h1 class="card-title"><i class="fa fa-building" aria-hidden="true"></i></h1>
                                        <h1 class="card-title">@ViewBag.Total</h1>
                                        <p class="card-text">Inmuebles publicados.</p>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <h5><strong>Tus inmuebles más vistos.</strong> </h5>
                            <br />
                            <div class="table-responsive">

                                <table class="table table-striped table-hover table-sm">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Categoría </th>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Precio</th>
                                            <th scope="col">Titulo </th>
                                            <th scope="col">Total, visualizaciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Com in ViewBag.ListaInmueblesVistos)
                                        {
                                            <tr>
                                                <th scope="row">@Com.TipoCategoria</th>
                                                <td>@Com.TipoSubCategoria</td>
                                                <td>@Com.PrecioFinalText</td>
                                                <td>@Com.Titulo</td>
                                                <td>@Com.Total</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <canvas id="densityChart" width="600" height="200"></canvas>
                            <hr />
                            <h5><strong>Tus inmuebles con mas mensajes.</strong> </h5>
                            <br />
                            <div class="table-responsive">

                                <table class="table table-striped table-hover table-sm">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Categoría </th>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Precio</th>
                                            <th scope="col">Titulo </th>
                                            <th scope="col">Total, mensajes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Com in ViewBag.ListaMensajesInmueble)
                                        {
                                            <tr>
                                                <th scope="row">@Com.TipoCategoria</th>
                                                <td>@Com.TipoSubCategoria</td>
                                                <td>@Com.PrecioFinalText</td>
                                                <td>@Com.Titulo</td>
                                                <td>@Com.Total</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <canvas id="densityChart2" width="600" height="200"></canvas>
                            <hr />
                            <h5><strong>Tus inmuebles mostrar teléfono.</strong> </h5>
                            <br />
                            <div class="table-responsive">

                                <table class="table table-striped table-hover table-sm">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Categoría </th>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Precio</th>
                                            <th scope="col">Titulo </th>
                                            <th scope="col">Total, mensajes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Com in ViewBag.ListaTelefonosInmueble)
                                        {
                                            <tr>
                                                <th scope="row">@Com.TipoCategoria</th>
                                                <td>@Com.TipoSubCategoria</td>
                                                <td>@Com.PrecioFinalText</td>
                                                <td>@Com.Titulo</td>
                                                <td>@Com.Total</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <canvas id="densityChart3" width="600" height="200"></canvas>
                            <hr />



                            <div class="row text-center">
                                <div class="col-md-2">
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <h5><strong>Publicaciones realizadas</strong> </h5>
                            <p class="card-text"><small class="text-muted">Publicaciones activas con estatus: Publico, Revisión</small></p>
                            <hr />

                            @foreach (var Inmuebles in ViewBag.Inmuebles)
                            {
                                <div class="card" style="height:350px">
                                    <a href="#" class="hov-img0 how-pos5-parent">
                                        <img class="card-img-top " src="@Inmuebles.Imagen" alt="Card image cap">
                                        <div class="flex-col-c-m size-123 bg9 how-pos5">
                                            <span class="ltext-107 cl2 txt-center">
                                                @Inmuebles.Dia
                                            </span>
                                            <span class="stext-109 cl3 txt-center">
                                                @Inmuebles.Mes @Inmuebles.FechaRegistro
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-body bor4">
                                    <h5 class="card-title">@Inmuebles.Titulo</h5>
                                    <textarea rows="5" cols="80" class="form-control" disabled="" placeholder="" id="m_Descripcion">@Inmuebles.Descripcion</textarea>
                                    @*<p class="card-text">@Inmuebles.Descripcion.</p>*@
                                    <p class="card-text"><small class="text-muted">Publicado hace @Inmuebles.Tiempo</small></p>

                                    <div class=" m-t-5 ">
                                        <br />
                                        <button type="button" class="flex-c-m cl7 size-301  bor7 hov-tag1 p-lr-15 trans-04"> Estatus: @Inmuebles.NombreEstatus </button>

                                    </div>
                                    <div class=" flex-sb-m ">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span class="">
                                                    <span>
                                                        <span class="cl4">Categoría: </span> @Inmuebles.TipoCategoria
                                                        <span class="cl12 m-l-4 m-r-6">|</span>
                                                    </span>

                                                    <span>
                                                        @Inmuebles.SubCategoria, @Inmuebles.Estado
                                                        <span class="cl12 m-l-4 m-r-6">|</span>
                                                    </span>

                                                    <span>
                                                        @Inmuebles.Poblacion
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <a href="@Url.Action("InmuebleDetalle", "MiCuenta" )?Inm=@Inmuebles.IdCf" class=" cl2 hov-cl1 trans-04 m-tb-5">
                                                        <button type="button" id="" class="flex-c-m cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04">Editar &nbsp; <i class="fa fa-share-square-o" aria-hidden="true"></i></button>
                                                    </a>
                                                    <a class=" cl2 hov-cl1 trans-04 m-tb-5">
                                                        <button type="button" id="" onclick="DesactivaInmueble(@Inmuebles.Id)" class="flex-c-m cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04">Desactivar   &nbsp; <i class="fa fa-share-square-o" aria-hidden="true"></i></button>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <hr />
                                                <div class="row">
                                                    <div class="col-md-6 text-center">
                                                        <p class="card-text"><small class="text-muted">Informa a los demás que tu inmueble se encuentra rentado o ya fue vendido</small></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <a class=" cl2 hov-cl1 trans-04 m-tb-5">
                                                                <button type="button" id="" onclick="RentadoInmueble(@Inmuebles.Id)" class="flex-c-m cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04" style="background-color:#4CAF50;">Rentado &nbsp; <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                                                            </a>
                                                            <a class=" cl2 hov-cl1 trans-04 m-tb-5">
                                                                <button type="button" id="" onclick="VendidoInmueble(@Inmuebles.Id)" class="flex-c-m cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04" style="background-color:#FF9800;">Vendido  &nbsp; <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <br /><br />
                            }
                        </div>
                        <div class="tab-pane fade" id="v-pills-mess" role="tabpanel" aria-labelledby="v-pills-mess-tab">
                            <h5><strong>Tus inmuebles con mas mensajes.</strong> </h5>
                            <br />
                            <div class="table-responsive">

                                <table class="table table-striped table-hover table-sm">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Categoría </th>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Precio</th>
                                            <th scope="col">Titulo </th>
                                            <th scope="col">Mensajes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Com in ViewBag.ListaMensajesInmueble)
                                        {
                                            <tr>
                                                <th scope="row">@Com.TipoCategoria</th>
                                                <td>@Com.TipoSubCategoria</td>
                                                <td>@Com.PrecioFinalText</td>
                                                <td>@Com.Titulo</td>
                                                <td>
                                                    <button type="button" id="BtnPublicar" onclick="ContalMensajesInmueble(@Com.Id)" class="flex-c-m cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04 js-show-modal1"> Mostrar </button>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <br>
                        </div>
                        <div class="tab-pane fade" id="v-pills-inmuebles" role="tabpanel" aria-labelledby="v-pills-inmuebles-tab">
                            <h5><strong>Inmuebles registrados </strong> </h5>
                            <p class="card-text">
                                <small class="text-muted">
                                    Inmuebles con estatus: Rechazo por administración,
                                    Revisión,
                                    Publico,
                                    Desactivado por usuario,
                                    Vendido y
                                    Rentado
                                </small>
                            </p>
                            <hr />
                            @foreach (var Inmuebles in ViewBag.InmueblesLitado)
                            {
                                <div class="card mb-3 cardIn" style="max-width: 100%;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="@Inmuebles.Imagen" class="card-img" />
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title card-titleIn ">@Inmuebles.Titulo</h5>
                                                <p class="card-text" style="font-style: oblique;">@Inmuebles.SubCategoria - @Inmuebles.TipoCategoria</p>
                                                <p class="card-text">@Inmuebles.Descripcion</p>
                                                <p class="card-text"><small class="text-muted">@Inmuebles.Estado, @Inmuebles.Poblacion </small></p>
                                                <p class="card-text"><small class="text-muted">@Inmuebles.Tiempo</small></p>
                                                <br />
                                                <button type="button" class="flex-c-m cl7 size-301  bor7 hov-tag1 p-lr-15 trans-04"> Estatus: @Inmuebles.NombreEstatus </button>
                                                <hr />
                                                <div class="text-right">
                                                    @if (Inmuebles.NombreEstatus == "Desactivado por usuario")
                                                    {
                                                        <a class="btn my-2 my-sm-0 col-md-3" href="@Url.Action("InmuebleDetalle", "MiCuenta" )?Inm=@Inmuebles.IdCf"><i class="fa fa-share" aria-hidden="true"></i> Editar </a>
                                                        <button type="button" id="" class="btn my-2 my-sm-0 col-md-3" onclick="EliminarInmueble(@Inmuebles.Id)"><i class="fa fa-share" aria-hidden="true"></i> Eliminar </button>
                                                        <button type="button" id="" class="btn my-2 my-sm-0 col-md-3" onclick="PublicarInmueble(@Inmuebles.Id)"><i class="fa fa-share" aria-hidden="true"></i> Publicar </button>
                                                    }
                                                    else if (Inmuebles.NombreEstatus == "Revisión")
                                                    {
                                                        <button type="button" id="" class="btn my-2 my-sm-0 col-md-3" onclick="EliminarInmueble(@Inmuebles.Id)"><i class="fa fa-share" aria-hidden="true"></i> Eliminar </button>
                                                    }
                                                    else if (Inmuebles.NombreEstatus == "Rentado")
                                                    {
                                                        <a class="btn my-2 my-sm-0 col-md-3" href="@Url.Action("InmuebleDetalle", "MiCuenta" )?Inm=@Inmuebles.IdCf"><i class="fa fa-share" aria-hidden="true"></i> Editar </a>
                                                        <button type="button" id="" class="btn my-2 my-sm-0 col-md-3" onclick="EliminarInmueble(@Inmuebles.Id)"><i class="fa fa-share" aria-hidden="true"></i> Eliminar </button>
                                                        <button type="button" id="" class="btn my-2 my-sm-0 col-md-3" onclick="PublicarInmueble(@Inmuebles.Id)"><i class="fa fa-share" aria-hidden="true"></i> Publicar </button>
                                                    }
                                                    else if (Inmuebles.NombreEstatus == "Vendido")
                                                    {
                                                        <a class="btn my-2 my-sm-0 col-md-3" href="@Url.Action("InmuebleDetalle", "MiCuenta" )?Inm=@Inmuebles.IdCf"><i class="fa fa-share" aria-hidden="true"></i> Editar </a>
                                                        <button type="button" id="" class="btn my-2 my-sm-0 col-md-3" onclick="EliminarInmueble(@Inmuebles.Id)"><i class="fa fa-share" aria-hidden="true"></i> Eliminar </button>
                                                        <button type="button" id="" class="btn my-2 my-sm-0 col-md-3" onclick="PublicarInmueble(@Inmuebles.Id)"><i class="fa fa-share" aria-hidden="true"></i> Publicar </button>
                                                    }
                                                    else if (Inmuebles.NombreEstatus == "Rechazo por administración")
                                                    {
                                                        <button type="button" id="" class="btn my-2 my-sm-0 col-md-3" onclick="EliminarInmueble(@Inmuebles.Id)"><i class="fa fa-share" aria-hidden="true"></i> Eliminar </button>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn my-2 my-sm-0 col-md-3" href="@Url.Action("InmuebleDetalle", "MiCuenta" )?Inm=@Inmuebles.IdCf"><i class="fa fa-share" aria-hidden="true"></i> Editar </a>
                                                        <button type="button" id="" class="btn my-2 my-sm-0 col-md-3" onclick="EliminarInmueble(@Inmuebles.Id)"><i class="fa fa-share" aria-hidden="true"></i> Eliminar </button>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                        @if (Inmuebles.NombreEstatus == "Desactivado por usuario")
                                        {
                                            <div class="col-md-12 card-top-bar-DU">

                                            </div>
                                        }
                                        else if (Inmuebles.NombreEstatus == "Revisión")
                                        {
                                            <div class="col-md-12 card-top-bar-RE">

                                            </div>
                                        }
                                        else if (Inmuebles.NombreEstatus == "Rentado")
                                        {
                                            <div class="col-md-12 card-top-bar-Renta">

                                            </div>
                                        }
                                        else if (Inmuebles.NombreEstatus == "Vendido")
                                        {
                                            <div class="col-md-12 card-top-bar-Vendido">

                                            </div>
                                        }
                                        else if (Inmuebles.NombreEstatus == "Rechazo por administración")
                                        {
                                            <div class="col-md-12 card-top-bar-RADM">

                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-12 card-top-bar">

                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        </div>
                        <div class="tab-pane fade" id="v-pills-datos" role="tabpanel" aria-labelledby="v-pills-datos-tab">
                            <h5><strong>Información de usuario </strong> </h5>
                            <hr />
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nombre</label>
                                        <div id="DivTitulo" class="bor8 bg0 m-b-5 m-t-5 col-md-12">
                                            <input class="stext-111 size-116 p-l-15 " type="text" name="Nombre" id="Nombre" placeholder="Nombre" value="@ViewBag.Nombre" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Apellidos</label>
                                        <div id="DivTitulo" class="bor8 bg0 m-b-5 m-t-5 col-md-12">
                                            <input class="stext-111 size-116 p-l-15 " type="text" name="Apellidos" id="Apellidos" placeholder="Apellidos" value="@ViewBag.Apellidos" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Email</label>
                                        <div id="DivTitulo" class="bor8 bg0 m-b-5 m-t-5 col-md-12">
                                            <input class="stext-111 size-116 p-l-15 " type="text" name="Email" id="Email" placeholder="Email" value="@ViewBag.Email" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Teléfono</label>
                                        <div id="DivTitulo" class="bor8 bg0 m-b-5 m-t-5 col-md-12">
                                            <input class="stext-111 size-116 p-l-15 " type="text" name="Telefono" id="Telefono" placeholder="Teléfono" value="@ViewBag.Telefono" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Teléfono móvil </label>
                                        <div id="DivTitulo" class="bor8 bg0 m-b-5 m-t-5 col-md-12">
                                            <input class="stext-111 size-116 p-l-15 " type="text" name="TelefonoMovil" id="TelefonoMovil" placeholder="Teléfono" value="@ViewBag.TelefonoMovil" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="m-b-30 m-t-5 col-md-12">
                                            <br />
                                            <button type="button" id="BtnPublicar" data-toggle="modal" data-target="#ModalaActualizarDatos" class="flex-c-m cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04"> Actualizar información  </button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="m-b-30 m-t-5 col-md-12">
                                            <br />
                                            <button type="button" id="BtnPublicar" data-toggle="modal" data-target="#ModalaActualizarPassword" class="flex-c-m cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04"> Cambiar password  </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</form>
<br />
<br />
<div class="bg6 flex-c-m flex-w size-302 ">
    <span class="stext-107 cl6 p-lr-25">
        <label id="m_TipoCategoriaS"></label>
    </span>
    <span class="stext-107 cl6 p-lr-25">
    </span>
</div>

<!-- Modal1 -->
<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
    <div class="overlay-modal1 js-hide-modal1"></div>

    <div class="container">
        <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
            <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                <img src="~/images/icons/icon-close.png" alt="Cerrar" />
            </button>
            <div class="container">
                <div class="row">
                    <div class="col-md-12  p-b-30">
                        <h5><strong>Mensajes del inmueble  </strong> </h5>
                        <hr />
                        <div class="table-responsive">
                            <div id="DatosConsulta">


                                <table class="table table-striped table-hover table-sm">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Categoría </th>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Precio</th>
                                            <th scope="col">Titulo </th>
                                            <th scope="col">Mensajes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row"></th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg6 flex-c-m flex-w size-302 ">
            <span class="stext-107 cl6 p-lr-25">
                <label id="m_TipoCategoriaS"></label>
            </span>
            <span class="stext-107 cl6 p-lr-25">
            </span>
        </div>
    </div>
</div>


<!-- MODALS ACTUALIZAR INFORMACION --->
<div class="modal fade" id="ModalaActualizarDatos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center Header-Modal">
                <h5 class="modal-title text-center" id="exampleModalLabel">Actualizar información  </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Nombre  </label>
                        <div class="bor8 bg0 m-b-2 m-t-2 col-md-12">
                            <input class="stext-111 size-116 " type="text" name="Nombre" id="MD_Nombre" placeholder="Nombre" value="@ViewBag.Nombre">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Apellidos  </label>
                        <div class="bor8 bg0 m-b-2 m-t-2 col-md-12">
                            <input class="stext-111 size-116 " type="text" name="Nombre" id="MD_Apellidos" placeholder="Apellidos" value="@ViewBag.Apellidos">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label>Teléfono  </label>
                        <div class="bor8 bg0 m-b-2 m-t-2 col-md-12">
                            <input class="stext-111 size-116 " type="tel" name="Telefono" id="MD_Telefono" placeholder="Teléfono" value="@ViewBag.Telefono">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Teléfono móvil   </label>
                        <div class="bor8 bg0 m-b-2 m-t-2 col-md-12">
                            <input class="stext-111 size-116 " type="tel" name="Telefono" id="MD_TelefonoMovil" placeholder="Teléfono móvil" value="@ViewBag.TelefonoMovil">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn-header-modal col-md-5" onclick="ActualizarInformacion()">Actualizar  </button>
                    </div>
                    <div class="col-md-12 text-center">
                        <br />
                        <p style="font-size:12px">Al Actualizar tu información  estás aceptando los <a href="@Url.Action("terminosycondiciones", "Home")"><strong>Términos y condiciones de Uso </strong></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalaActualizarPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center Header-Modal">
                <h5 class="modal-title text-center" id="exampleModalLabel">Actualizar Password  </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label> Password </label>
                        <div class="bor8 bg0 m-b-2 m-t-2 col-md-12">
                            <input class="stext-111 size-116 " type="password" name="Nombre" id="MD_Password">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label>Nuevo password </label>
                        <div class="bor8 bg0 m-b-2 m-t-2 col-md-12">
                            <input class="stext-111 size-116 " type="password" name="Telefono" id="MD_NuPassword" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Repetir password </label>
                        <div class="bor8 bg0 m-b-2 m-t-2 col-md-12">
                            <input class="stext-111 size-116 " type="password" name="Telefono" id="MD_RePassword" >
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn-header-modal col-md-5" onclick="Actualizarpassword()">Actualizar  </button>
                    </div>
                    <div class="col-md-12 text-center">
                        <br />
                        <p style="font-size:12px">Al Actualizar tu información  estás aceptando los <a href="@Url.Action("terminosycondiciones", "Home")"><strong>Términos y condiciones de Uso </strong></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function Actualizarpassword()
    {
        if (ValidacionActualizarPassword() == "ok") {
            var obj = {};

            obj['Password'] = $('#MD_Password').val();
            obj['NuPassword'] = $('#MD_NuPassword').val();
            obj['RepPassword'] = $('#MD_RePassword').val();

            var jsonObject = {
                "Usuarios": obj
            };
            $.ajax({
                url: "@Url.Action("Actualizarpassword", "MiCuenta")",
                type: "POST",
                data: JSON.stringify(jsonObject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (response) {
                    swal({
                        title: "Algo ocurrió !",
                        text: "Ha ocurrido un problema durante la actualización , inténtalo mas tarde ",
                        icon: "warning",
                        button: "Aceptar",
                    });
                },
                success: function (response) {
                    if (response.Respuesta) {
                        swal({
                            title: "Registro exitoso !",
                            text: 'Se ha actualizado tu password.',
                            icon: "success",
                            button: "Aceptar",
                        })
                            .then((value) => {
                                window.location.href = "@Url.Action("Index", "MiCuenta")";
                        });
                    }
                    else {
                        swal({
                            title: "Algo ocurrió !",
                            text: response.RespuestaText,
                            icon: "warning",
                            button: "Aceptar",
                        });
                    }
                }
            });
        } else {
            swal({
                title: "Algo ocurrió !",
                text: ValidacionActualizarPassword(),
                icon: "warning",
                button: "Aceptar",
            });
        }
    }

    function ValidacionActualizarPassword() {
        var respuesta = "";

        $('#MD_Password').css("border", "2px solid #fff");
        $('#MD_NuPassword').css("border", "2px solid #fff");
        $('#MD_RePassword').css("border", "2px solid #fff");

        if ($('#MD_Password').val().length > 0) {
            if ($('#MD_NuPassword').val().length > 0) {
                if ($('#MD_RePassword').val().length > 0) {
                    if ($('#MD_NuPassword').val() == $('#MD_RePassword').val()) {
                        respuesta = "ok";
                    } else {
                        $('#MD_RePassword').css("border", "2px solid red");
                        respuesta = "Tu nuevo password no coincide ";
                    }
                }
                else {
                    $('#MD_RePassword').css("border", "2px solid red");
                    respuesta = "Coloca tu nuevo password";
                }
            } else {
                $('#MD_NuPassword').css("border", "2px solid red");
                respuesta = "Coloca tu nuevo password";
            }
        } else {
            $('#MD_Password').css("border", "2px solid red");
            respuesta = "Coloca tu Password ";
        }
        return respuesta;
    };

    function ActualizarInformacion()
    {
        if (ValidacionActualizar() == "ok") {
            var obj = {};

            obj['Nombre'] = $('#MD_Nombre').val();
            obj['Apellidos'] = $('#MD_Apellidos').val();
            obj['Telefono'] = $('#MD_Telefono').val();
            obj['TelefonoMovil'] = $('#MD_TelefonoMovil').val();

            var jsonObject = {
                "Usuarios": obj
            };
            $.ajax({
                url: "@Url.Action("ActualizarUsuario", "MiCuenta")",
                type: "POST",
                data: JSON.stringify(jsonObject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (response) {
                    swal({
                        title: "Algo ocurrió !",
                        text: "Ha ocurrido un problema durante la actualización , inténtalo mas tarde ",
                        icon: "warning",
                        button: "Aceptar",
                    });
                },
                success: function (response) {
                    if (response.Respuesta) {
                        swal({
                            title: "Registro exitoso !",
                            text: 'Se ha actualizado tu información.',
                            icon: "success",
                            button: "Aceptar",
                        })
                            .then((value) => {
                                window.location.href = "@Url.Action("Index", "MiCuenta")";
                        });
                    }
                    else {
                        swal({
                            title: "Algo ocurrió !",
                            text: response.RespuestaText,
                            icon: "warning",
                            button: "Aceptar",
                        });
                    }
                }
            });




        } else {
             swal({
                title: "Algo ocurrió !",
                text: ValidacionActualizar(),
                icon: "warning",
                button: "Aceptar",
            });
        }
    }


    function ValidacionActualizar() {

        var respuesta = "";
        $('#MD_Nombre').css("border", "2px solid #fff");
        $('#MD_Apellidos').css("border", "2px solid #fff");
        $('#MD_Telefono').css("border", "2px solid #fff");
        $('#MD_TelefonoMovil').css("border", "2px solid #fff");

        if ($('#MD_Nombre').val().length > 0) {
            if ($('#MD_Apellidos').val().length > 0) {
                if ($('#MD_Telefono').val().length > 0) {
                    if ($('#MD_TelefonoMovil').val().length > 0) {
                        respuesta = "ok";
                    }
                    else {
                        $('#MD_TelefonoMovil').css("border", "2px solid red");
                        respuesta = "Coloca tu Teléfono movil";
                    }
                }
                else {
                    $('#MD_Telefono').css("border", "2px solid red");
                    respuesta = "Coloca tu Teléfono";
                }
            } else {
                $('#MD_Apellidos').css("border", "2px solid red");
                respuesta = "Coloca tus Apellidos";
            }
        } else {
            $('#MD_Nombre').css("border", "2px solid red");
            respuesta = "Coloca tu nombre";
        }
        return respuesta;
    };



    function ContalMensajesInmueble(valor) {
        var obj = {};
        obj['Id'] = valor;
        var jsonObject = {
            "Inmueble": obj
        };


        $.ajax({
            url: "@Url.Action("ConsultaMensajes", "MiCuenta")",
            type: "POST",
            data: JSON.stringify(jsonObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (response) {
                swal({
                    title: "Algo ocurrió !",
                    text: "Ha ocurrido un problema, inténtalo mas tarde ",
                    icon: "warning",
                    button: "Aceptar",
                });
            },
            success: function (response) {
                console.log(response);

                $('#DatosConsulta').html("");

                var tabla = "<table id='InfomacionMensajes' class='table table-striped table-hover table-sm' style='width:100%'>" +
                    "<thead class='thead-light'>" +
                        "<tr>" +
                            "<th scope='col'>Nombre </th>" +
                            "<th scope='col'>Email</th>" +
                            "<th scope='col'>Telefono</th>" +
                            "<th scope='col'>Mensajes </th>" +
                            "<th scope='col'>Asunto</th>" +
                        "</tr>" +
                    "</thead>" +
                    "<tbody>";
                for (var b = 0; b < response.length; b++) {
                    tabla += "<tr>" +
                            "<td>" + response[b].Nombre + "</td>" +
                            "<td>" + response[b].Email + "</td>" +
                            "<td>" + response[b].Telefono + "</td>" +
                            "<td>" + response[b].Mensajes + "</td>" +
                            "<td>" + response[b].Asunto + "</td>" +
                        "</tr>";
                }
                tabla += "</tbody>" +
                    "</table>";

                $('#DatosConsulta').html(tabla);

                $("#InfomacionMesas").dataTable().fnDestroy();

                $('#InfomacionMesas').DataTable({
                    "order": [[0, "desc"]],
                    'language': { 'url': '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json' },
                    "searching": false,
                    paging: false,
                    dom: "Blfrtip", buttons: [{
                        extend: "copy", className: "btn-sm"
                    }, {
                        extend: "csv", className: "btn-sm"
                    }, {
                        extend: "excel", className: "btn-sm"
                    }, {
                        extend: "pdfHtml5", className: "btn-sm"
                    }, {
                        extend: "print", className: "btn-sm"
                    }]
                });





            }
        });
    }

    $(document).ready(function () {
        var densityCanvas = document.getElementById("densityChart");

        Chart.defaults.global.defaultFontFamily = "Arial, sans-serifapple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif";
        Chart.defaults.global.defaultFontSize = 14;

        var densityData = {
            label: 'Total, visualizaciones.',

            options: {
                legend: {
                    labels: {
                        // This more specific font property overrides the global property
                        //fontColor: 'black',
                        defaultFontFamily: 'Arial, sans-serifapple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif',
                        fontColor: 'rgb(154, 154, 154)',
                        usePointStyle: true,
                    }
                }
            },


            data: [

                @foreach (var Com in ViewBag.ListaInmueblesVistos)
                {
                    @Html.Raw(@Com.Total)
                    @Html.Raw(",")
                }



            ],
            backgroundColor: [
                'rgba(67, 206, 162, 0.9)',
                'rgba(63, 194, 162, 0.9)',
                'rgba(63, 195, 162, 0.9)',
                'rgba(54, 169, 161, 0.9)',
                'rgba(50, 160, 160, 0.9)',
                'rgba(49, 158, 160, 0.9)',
                'rgba(44, 145, 159, 0.9)',
                'rgba(37, 126, 159, 0.9)',
                'rgba(34, 116, 158, 0.9)',
                'rgba(28, 101, 158, 0.9)',
                'rgba(26, 95, 157, 0.9)',
                'rgba(25, 91, 157, 0.9)',

                'rgba(26, 95, 157, 0.9)',
                'rgba(28, 101, 158, 0.9)',
                'rgba(34, 116, 158, 0.9)',
                'rgba(37, 126, 159, 0.9)',
                'rgba(44, 145, 159, 0.9)',
                'rgba(49, 158, 160, 0.9)',
                'rgba(50, 160, 160, 0.9)',
                'rgba(54, 169, 161, 0.9)',
                'rgba(63, 195, 162, 0.9)',
                'rgba(63, 194, 162, 0.9)',
                'rgba(67, 206, 162, 0.9)',

            ],
            borderColor: [
                'rgba(63, 194, 162, 0.9)',
                'rgba(63, 195, 162, 0.9)',
                'rgba(54, 169, 161, 0.9)',
                'rgba(50, 160, 160, 0.9)',
                'rgba(49, 158, 160, 0.9)',
                'rgba(44, 145, 159, 0.9)',
                'rgba(37, 126, 159, 0.9)',
                'rgba(34, 116, 158, 0.9)',
                'rgba(28, 101, 158, 0.9)',
                'rgba(26, 95, 157, 0.9)',
                'rgba(25, 91, 157, 0.9)',


                'rgba(26, 95, 157, 0.9)',
                'rgba(28, 101, 158, 0.9)',
                'rgba(34, 116, 158, 0.9)',
                'rgba(37, 126, 159, 0.9)',
                'rgba(44, 145, 159, 0.9)',
                'rgba(49, 158, 160, 0.9)',
                'rgba(50, 160, 160, 0.9)',
                'rgba(54, 169, 161, 0.9)',
                'rgba(63, 195, 162, 0.9)',
                'rgba(63, 194, 162, 0.9)',

            ],
            borderWidth: 1,
            hoverBorderWidth: 0,
            hoverBackgroundColor: [
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
            ],
        };

        var chartOptions = {
            scales: {
                yAxes: [{
                    barPercentage: 0
                }]
            },
            elements: {
                rectangle: {
                    borderSkipped: 'left',
                }
            }
        };

        var barChart = new Chart(densityCanvas, {
            type: 'bar',
            data: {
                labels: [
                    @foreach (var Com in ViewBag.ListaInmueblesVistos)
                    {
                        @Html.Raw("'")
                        @Html.Raw(@Com.TipoCategoria)
                        @Html.Raw("'")
                        @Html.Raw(",")
                    }
                ],
                datasets: [densityData],
            },
            options: chartOptions
        });
    });
    $(document).ready(function () {
        var densityCanvas = document.getElementById("densityChart2");

        Chart.defaults.global.defaultFontFamily = "Arial, sans-serifapple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif";
        Chart.defaults.global.defaultFontSize = 14;

        var densityData = {
            label: 'Total, Mensajes.',

            options: {
                legend: {
                    labels: {
                        // This more specific font property overrides the global property
                        //fontColor: 'black',
                        defaultFontFamily: 'Arial, sans-serifapple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif',
                        fontColor: 'rgb(154, 154, 154)',
                        usePointStyle: true,
                    }
                }
            },


            data: [

                @foreach (var Com in ViewBag.ListaMensajesInmueble)
                {
                    @Html.Raw(@Com.Total)
                    @Html.Raw(",")
                }



            ],
            backgroundColor: [
                'rgba(67, 206, 162, 0.9)',
                'rgba(63, 194, 162, 0.9)',
                'rgba(63, 195, 162, 0.9)',
                'rgba(54, 169, 161, 0.9)',
                'rgba(50, 160, 160, 0.9)',
                'rgba(49, 158, 160, 0.9)',
                'rgba(44, 145, 159, 0.9)',
                'rgba(37, 126, 159, 0.9)',
                'rgba(34, 116, 158, 0.9)',
                'rgba(28, 101, 158, 0.9)',
                'rgba(26, 95, 157, 0.9)',
                'rgba(25, 91, 157, 0.9)',

                'rgba(26, 95, 157, 0.9)',
                'rgba(28, 101, 158, 0.9)',
                'rgba(34, 116, 158, 0.9)',
                'rgba(37, 126, 159, 0.9)',
                'rgba(44, 145, 159, 0.9)',
                'rgba(49, 158, 160, 0.9)',
                'rgba(50, 160, 160, 0.9)',
                'rgba(54, 169, 161, 0.9)',
                'rgba(63, 195, 162, 0.9)',
                'rgba(63, 194, 162, 0.9)',
                'rgba(67, 206, 162, 0.9)',

            ],
            borderColor: [
                'rgba(63, 194, 162, 0.9)',
                'rgba(63, 195, 162, 0.9)',
                'rgba(54, 169, 161, 0.9)',
                'rgba(50, 160, 160, 0.9)',
                'rgba(49, 158, 160, 0.9)',
                'rgba(44, 145, 159, 0.9)',
                'rgba(37, 126, 159, 0.9)',
                'rgba(34, 116, 158, 0.9)',
                'rgba(28, 101, 158, 0.9)',
                'rgba(26, 95, 157, 0.9)',
                'rgba(25, 91, 157, 0.9)',


                'rgba(26, 95, 157, 0.9)',
                'rgba(28, 101, 158, 0.9)',
                'rgba(34, 116, 158, 0.9)',
                'rgba(37, 126, 159, 0.9)',
                'rgba(44, 145, 159, 0.9)',
                'rgba(49, 158, 160, 0.9)',
                'rgba(50, 160, 160, 0.9)',
                'rgba(54, 169, 161, 0.9)',
                'rgba(63, 195, 162, 0.9)',
                'rgba(63, 194, 162, 0.9)',

            ],
            borderWidth: 1,
            hoverBorderWidth: 0,
            hoverBackgroundColor: [
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
            ],
        };

        var chartOptions = {
            scales: {
                yAxes: [{
                    barPercentage: 0
                }]
            },
            elements: {
                rectangle: {
                    borderSkipped: 'left',
                }
            }
        };

        var barChart = new Chart(densityCanvas, {
            type: 'bar',
            data: {
                labels: [
                    @foreach (var Com in ViewBag.ListaMensajesInmueble)
                    {
                        @Html.Raw("'")
                        @Html.Raw(@Com.TipoCategoria)
                        @Html.Raw("'")
                        @Html.Raw(",")
                    }
                ],
                datasets: [densityData],
            },
            options: chartOptions
        });
   });
    $(document).ready(function () {
        var densityCanvas = document.getElementById("densityChart3");

        Chart.defaults.global.defaultFontFamily = "Arial, sans-serifapple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif";
        Chart.defaults.global.defaultFontSize = 14;

        var densityData = {
            label: 'Total, Teléfonos.',

            options: {
                legend: {
                    labels: {
                        // This more specific font property overrides the global property
                        //fontColor: 'black',
                        defaultFontFamily: 'Arial, sans-serifapple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif',
                        fontColor: 'rgb(154, 154, 154)',
                        usePointStyle: true,
                    }
                }
            },


            data: [

                @foreach (var Com in ViewBag.ListaTelefonosInmueble)
                {
                    @Html.Raw(@Com.Total)
                    @Html.Raw(",")
                }



            ],
            backgroundColor: [
                'rgba(67, 206, 162, 0.9)',
                'rgba(63, 194, 162, 0.9)',
                'rgba(63, 195, 162, 0.9)',
                'rgba(54, 169, 161, 0.9)',
                'rgba(50, 160, 160, 0.9)',
                'rgba(49, 158, 160, 0.9)',
                'rgba(44, 145, 159, 0.9)',
                'rgba(37, 126, 159, 0.9)',
                'rgba(34, 116, 158, 0.9)',
                'rgba(28, 101, 158, 0.9)',
                'rgba(26, 95, 157, 0.9)',
                'rgba(25, 91, 157, 0.9)',

                'rgba(26, 95, 157, 0.9)',
                'rgba(28, 101, 158, 0.9)',
                'rgba(34, 116, 158, 0.9)',
                'rgba(37, 126, 159, 0.9)',
                'rgba(44, 145, 159, 0.9)',
                'rgba(49, 158, 160, 0.9)',
                'rgba(50, 160, 160, 0.9)',
                'rgba(54, 169, 161, 0.9)',
                'rgba(63, 195, 162, 0.9)',
                'rgba(63, 194, 162, 0.9)',
                'rgba(67, 206, 162, 0.9)',

            ],
            borderColor: [
                'rgba(63, 194, 162, 0.9)',
                'rgba(63, 195, 162, 0.9)',
                'rgba(54, 169, 161, 0.9)',
                'rgba(50, 160, 160, 0.9)',
                'rgba(49, 158, 160, 0.9)',
                'rgba(44, 145, 159, 0.9)',
                'rgba(37, 126, 159, 0.9)',
                'rgba(34, 116, 158, 0.9)',
                'rgba(28, 101, 158, 0.9)',
                'rgba(26, 95, 157, 0.9)',
                'rgba(25, 91, 157, 0.9)',


                'rgba(26, 95, 157, 0.9)',
                'rgba(28, 101, 158, 0.9)',
                'rgba(34, 116, 158, 0.9)',
                'rgba(37, 126, 159, 0.9)',
                'rgba(44, 145, 159, 0.9)',
                'rgba(49, 158, 160, 0.9)',
                'rgba(50, 160, 160, 0.9)',
                'rgba(54, 169, 161, 0.9)',
                'rgba(63, 195, 162, 0.9)',
                'rgba(63, 194, 162, 0.9)',

            ],
            borderWidth: 1,
            hoverBorderWidth: 0,
            hoverBackgroundColor: [
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
            ],
        };

        var chartOptions = {
            scales: {
                yAxes: [{
                    barPercentage: 0
                }]
            },
            elements: {
                rectangle: {
                    borderSkipped: 'left',
                }
            }
        };

        var barChart = new Chart(densityCanvas, {
            type: 'bar',
            data: {
                labels: [
                    @foreach (var Com in ViewBag.ListaTelefonosInmueble)
                    {
                        @Html.Raw("'")
                        @Html.Raw(@Com.TipoCategoria)
                        @Html.Raw("'")
                        @Html.Raw(",")
                    }
                ],
                datasets: [densityData],
            },
            options: chartOptions
        });
   });

    function DesactivaInmueble(dt) {
        swal({
            title: "Eliminar publicación ",
            text: "Deseas eliminar tu publicación, el inmueble no aparecerá más.!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {

                    var obj = {};
                    obj['Id'] = dt;
                    var jsonObject = {
                        "Inmueble": obj
                    };


                    $.ajax({
                        url: "@Url.Action("DesactivarInmueble", "MiCuenta")",
                        type: "POST",
                        data: JSON.stringify(jsonObject),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        error: function (response) {
                            swal({
                                title: "Algo ocurrió !",
                                text: "Ha ocurrido un problema, inténtalo mas tarde ",
                                icon: "warning",
                                button: "Aceptar",
                            });
                        },
                        success: function (response) {
                            //console.log(response);
                            if (response) {
                                swal({
                                    title: "Desactivación exitosa !",
                                    text: response.Contenido,
                                    icon: "success",
                                    button: "Aceptar",
                                })
                                    .then((value) => {
                                        window.location.href = "@Url.Action("Index", "MiCuenta")";
                                    });
                            }else {
                                swal({
                                    title: "Algo ocurrió !",
                                    text: response.RespuestaText,
                                    icon: "warning",
                                    button: "Aceptar",
                                });
                            }
                        }
                    });

                } else {
                    swal("Tu inmueble sigue publico!");
                }
            });
    }
    function VendidoInmueble(dt) {
        swal({
            title: "Publicación vendida  ",
            text: "¿Deseas colocar tu publicación como vendida?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                var obj = {};
                obj['Id'] = dt;
                var jsonObject = {
                    "Inmueble": obj
                };

                $.ajax({
                    url: "@Url.Action("VendidoInmueble", "MiCuenta")",
                    type: "POST",
                    data: JSON.stringify(jsonObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    error: function (response) {
                        swal({
                            title: "Algo ocurrió !",
                            text: "Ha ocurrido un problema, inténtalo mas tarde ",
                            icon: "warning",
                            button: "Aceptar",
                        });
                    },
                    success: function (response) {
                        //console.log(response);
                        if (response) {
                            swal({
                                title: "Actuación exitosa !",
                                text: response.Contenido,
                                icon: "success",
                                button: "Aceptar",
                            })
                                .then((value) => {
                                    window.location.href = "@Url.Action("Index", "MiCuenta")";
                                });
                        }else {
                            swal({
                                title: "Algo ocurrió !",
                                text: response.RespuestaText,
                                icon: "warning",
                                button: "Aceptar",
                            });
                        }
                    }
                });

            }else {
                swal("Tu inmueble sigue publico!");
            }
        });
    }
    function RentadoInmueble(dt) {
        swal({
            title: "Publicación rentada  ",
            text: "¿Deseas colocar tu publicación como rentada?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                var obj = {};
                obj['Id'] = dt;
                var jsonObject = {
                    "Inmueble": obj
                };

                $.ajax({
                        url: "@Url.Action("RentadoInmueble", "MiCuenta")",
                        type: "POST",
                        data: JSON.stringify(jsonObject),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        error: function (response) {
                            swal({
                                title: "Algo ocurrió !",
                                text: "Ha ocurrido un problema, inténtalo mas tarde ",
                                icon: "warning",
                                button: "Aceptar",
                            });
                        },
                        success: function (response) {
                            //console.log(response);
                            if (response) {
                                swal({
                                    title: "Actuación exitosa !",
                                    text: response.Contenido,
                                    icon: "success",
                                    button: "Aceptar",
                                })
                                    .then((value) => {
                                        window.location.href = "@Url.Action("Index", "MiCuenta")";
                                    });
                            }else {
                                swal({
                                    title: "Algo ocurrió !",
                                    text: response.RespuestaText,
                                    icon: "warning",
                                    button: "Aceptar",
                                });
                            }
                        }
                    });

            }else {
                swal("Tu inmueble sigue publico!");
            }
        });
    }
    function EliminarInmueble(dt)
    {
        swal({
            title: "Eliminar Publicación",
            text: "¿Deseas eliminar tu publicación?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                var obj = {};
                obj['Id'] = dt;
                var jsonObject = {
                    "Inmueble": obj
                };

                $.ajax({
                        url: "@Url.Action("EliminarInmueble", "MiCuenta")",
                        type: "POST",
                        data: JSON.stringify(jsonObject),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        error: function (response) {
                            swal({
                                title: "Algo ocurrió !",
                                text: "Ha ocurrido un problema, inténtalo mas tarde ",
                                icon: "warning",
                                button: "Aceptar",
                            });
                        },
                        success: function (response) {
                            //console.log(response);
                            if (response) {
                                swal({
                                    title: "Actuación exitosa !",
                                    text: response.Contenido,
                                    icon: "success",
                                    button: "Aceptar",
                                })
                                    .then((value) => {
                                        window.location.href = "@Url.Action("Index", "MiCuenta")";
                                    });
                            }else {
                                swal({
                                    title: "Algo ocurrió !",
                                    text: response.RespuestaText,
                                    icon: "warning",
                                    button: "Aceptar",
                                });
                            }
                        }
                    });

            }else {
                swal("Tu inmueble no ha sido eliminado!");
            }
        });
    }
    function PublicarInmueble(dt)
    {
        swal({
            title: "Activar Publicación",
            text: "¿Deseas activar tu publicación?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                var obj = {};
                obj['Id'] = dt;
                var jsonObject = {
                    "Inmueble": obj
                };

                $.ajax({
                        url: "@Url.Action("PublicarInmueble", "MiCuenta")",
                        type: "POST",
                        data: JSON.stringify(jsonObject),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        error: function (response) {
                            swal({
                                title: "Algo ocurrió !",
                                text: "Ha ocurrido un problema, inténtalo mas tarde ",
                                icon: "warning",
                                button: "Aceptar",
                            });
                        },
                        success: function (response) {
                            //console.log(response);
                            if (response) {
                                swal({
                                    title: "Actuación exitosa !",
                                    text: response.Contenido,
                                    icon: "success",
                                    button: "Aceptar",
                                })
                                    .then((value) => {
                                        window.location.href = "@Url.Action("Index", "MiCuenta")";
                                    });
                            }else {
                                swal({
                                    title: "Algo ocurrió !",
                                    text: response.RespuestaText,
                                    icon: "warning",
                                    button: "Aceptar",
                                });
                            }
                        }
                    });

            }else {
                swal("Tu inmueble no ha sido publicado !");
            }
        });
    }

</script>