<link href="~/Content/css/login/Style.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css" rel="stylesheet">
<br />
<br />
<br />
<br />
<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Bienvenido</strong> </h1>
                    <div class="description">
                        <p>
                            Publica cualquier tipo de inmueble <strong>gratis !</strong>
                            <br />
                            Al inciar sesión estás aceptando los <a href="@Url.Action("terminosycondiciones", "Home")"><strong>Términos y condiciones de Uso </strong></a>
                            <br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Iniciar sesión </h3>
                            <br />
                            <p>Complete el siguiente formulario para obtener acceso:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label class="sr-only" for="form-email">Email</label>
                                    <input type="text" name="form-email" onKeyUp="CorreofrM('EmailLogin')" placeholder="Email ..." class="form-email form-control" id="EmailLogin">
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="sr-only" for="form-last-name">Contraseña</label>
                                    <input type="password" name="Password" placeholder="Password ..." class="form-last-name form-control" id="Password" style="height: 40px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox icheck-primary">
                                        <input type="checkbox" id="primary" name="SesionCheck" />
                                        <label for="primary" style="color:#fff">Recordar contraseña </label>
                                    </div>
                                </div>
                            </div>
                            <div id='alertBoxes'></div><span class='timer' id='timer'></span>
                            <br />
                            <button type="button" id="BtnRegistrar" class="btn">Iniciar sesión</button>

                            <p style="color:#fff; text-align:center">
                                <br /><br />
                                No tengo cuenta,  <a href="@Url.Action("Registrar", "Adm")"><strong>registrar </strong></a>
                                <br />
                            </p>

                            <p style="color:#fff;">
                                No recuerdo mi contraseña ,  <a href="@Url.Action("RecuperarPassword", "Adm")"><strong> recuperar </strong></a>
                            </p>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6 book">
                    <img src="~/images/Slider/11.JPG" class="img-fluid" />
                </div>

            </div>
        </div>
    </div>

</div>

<br />
<br />
<br />
<div class="bg6 flex-c-m flex-w size-302 ">
    <span class="stext-107 cl6 p-lr-25">
    </span>
    <span class="stext-107 cl6 p-lr-25">
    </span>
</div>

<script>
    $(document).ready(function () {



        var timeSlide = 500;
        $('#timer').hide(0);
        $('#timer').css('display', 'none');
        $('#BtnRegistrar').click(function () {
            $('.box-success,.box-error').slideUp(timeSlide);
            setTimeout(function () {
                if (validaLogin() == "ok") {
                    $('#timer').fadeOut(300);
                    $('#alertBoxes').html('<div class="box-error"></div>');
                    $('.box-error').hide(0).html("Enviado <img src='/images/icons/ajax-loader.gif' width='20px' height='20px'/>");
                    $('.box-error').slideDown(timeSlide);

                    var Session = false;

                    if ($('input:checkbox[name=SesionCheck]:checked').val()) {
                        Session = true;
                    } 

                    var obj = {};

                    obj['Email'] = $('#EmailLogin').val();
                    obj['Password'] = $('#Password').val();
                    obj['Ruta'] = '@ViewBag.rd';
                    obj['RutaAcceso'] = '@ViewBag.rdv';
                    obj['Session'] = Session;

                    var jsonObject = {
                        "Usuarios": obj
                    };

                    $.ajax({
                        url: "@Url.Action("Iniciar", "Adm")",
                        type: "POST",
                        data: JSON.stringify(jsonObject),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        error: function (response) {
                            $('#timer').fadeOut(300);
                            $('#alertBoxes').html('<div class="box-error"></div>');
                            $('.box-error').hide(0).html('');
                            $('.box-error').slideDown(timeSlide);

                            swal({
                              title: "Algo ocurrió !",
                              text: "Ha ocurrido un problema, inténtalo mas tarde ",
                              icon: "warning",
                              button: "Aceptar",
                            });
                        },
                        success: function (response) {
                            $('#timer').fadeOut(300);
                            $('#alertBoxes').html('<div class="box-error"></div>');
                            $('.box-error').hide(0).html('');
                            $('.box-error').slideDown(timeSlide);


                            if (response.IdUsuario == 0) {
                                swal({
                                    title: "Algo ocurrió !",
                                    text: response.Mensaje,
                                    icon: "warning",
                                    button: "Aceptar",
                                });
                            } else {
                                if (response.IdRol == 1) {
                                    swal({
                                        title: "Bienvenido. !",
                                        text: response.Nombre + " " + response.Apellidos,
                                        icon: "success",
                                        button: "Aceptar",
                                    })
                                        .then((value) => {
                                            if (response.Ruta != null) {
                                                window.location.href = '' + response.Ruta + '';
                                            } else {
                                                window.location.href = '@Url.Action("Index","Administracion")';
                                            }
                                        });

                                } else if (response.IdRol == 2) {
                                    swal({
                                        title: "Bienvenido. !",
                                        text: response.Nombre + " " + response.Apellidos,
                                        icon: "success",
                                        button: "Aceptar",
                                    })
                                        .then((value) => {
                                            if (response.Ruta != null) {
                                                window.location.href = '' + response.Ruta + '';
                                            } else {
                                                window.location.href = '@Url.Action("Index","Administracion")';
                                            }
                                        });
                                } else if (response.IdRol == 3) {
                                    swal({
                                        title: "Bienvenido. !",
                                        text: response.Nombre + " " + response.Apellidos,
                                        icon: "success",
                                        button: "Aceptar",
                                    })
                                        .then((value) => {
                                            if (response.Ruta != null) {
                                                window.location.href = '' + response.Ruta + '';
                                            } else {
                                                window.location.href = '@Url.Action("Index","business")';
                                            }
                                        });
                                } else if (response.IdRol = -1) {
                                    swal({
                                           title: "¡Tu usuario un no está activado! ",
                                            text: "Se envió un correo a  " + $('#EmailLogin').val() + "  para activar tu usuario. \n\n ¿Deseas que volvamos a mandar un correo de confirmación de usuario?  ",
                                            icon: "warning",
                                            buttons: true,
                                        dangerMode: true,
                                            buttons: ["Cancelar", "Enviar correo"],
                                        })
                                        .then((willDelete) => {
                                            if (willDelete) {
                                                $.ajax({
                                                    url: "@Url.Action("EnviarCorreo", "Adm")",
                                                    type: "POST",
                                                    data: JSON.stringify(jsonObject),
                                                    contentType: "application/json; charset=utf-8",
                                                    dataType: "json",
                                                    error: function (response) {
                                                        swal({
                                                            title: "Algo ocurrió !",
                                                            text: "Ha ocurrido un problema, inténtalo mas tarde ",
                                                            icon: "warning",
                                                            button: "Aceptar",
                                                        });
                                                    },
                                                    success: function (response) {
                                                        if (response.IdRol != 0) {
                                                            swal({
                                                                title: "Correo enviado !",
                                                                text: "Abre el link de activación de usuario en el correo enviado.",
                                                                icon: "success",
                                                                button: "Aceptar",
                                                            })
                                                            .then((value) => {
                                                                window.location.href = "@Url.Action("Login", "Adm")";
                                                            });
                                                        }
                                                    }
                                                });

                                            }
                                            //else {
                                            //    swal("Tu sesión, se encuentra activa!");
                                            //}
                                    });
                                }
                                
                            }
                            
                        }
                    });

                }
                else {

                    $('#timer').fadeOut(300);
                    $('#alertBoxes').html('<div class="box-error"></div>');
                    $('.box-error').hide(0).html(validaLogin());
                    $('.box-error').slideDown(timeSlide);

                    $.notify({
	                icon: 'fa fa-paw',
	                message: "Formulario incompleto ."
                    },{
                            type: 'danger',
                        allow_dismiss: false,
                        animate: {
		                    enter: 'animated rollIn',
		                    exit: 'animated rollOut'
	                    }
                    });
                }

                    


                    ///************************************************************************************************************/
                    //$('#timer').fadeOut(300);
                    //$('#alertBoxes').html('<div class="box-error"></div>');
                    //$('.box-error').hide(0).html('');
                    //$('.box-error').slideDown(timeSlide);

                    //swal({
                    //    title: "Sitio en mantenimiento !",
                    //    text: "Para poder brindarte el mejor servicio el sito se encuentra en mantenimiento temporalmente",
                    //    icon: "warning",
                    //    button: "Aceptar",
                    //});
                    ///***********************************************************************************************************/

                    @*$.ajax({
                        url: "@Url.Action("Iniciar", "Adm")",
                        type: "POST",
                        data: JSON.stringify(jsonObject),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        error: function (response) {
                            $('#timer').fadeOut(300);
                            $('#alertBoxes').html('<div class="box-error"></div>');
                            $('.box-error').hide(0).html('');
                            $('.box-error').slideDown(timeSlide);

                            swal({
                              title: "Algo ocurrió !",
                              text: "Ha ocurrido un problema, inténtalo mas tarde ",
                              icon: "warning",
                              button: "Aceptar",
                            });
                        },
                        success: function (response) {
                            $('#timer').fadeOut(300);
                            $('#alertBoxes').html('<div class="box-error"></div>');
                            $('.box-error').hide(0).html('');
                            $('.box-error').slideDown(timeSlide);

                            console.log(response);

                            if (response.IdRol != 0) {
                                if (response.IdRol == 1) {
                                    swal({
                                      title: "Bienvenido. !",
                                      text: response.Nombre + " "+ response.Apellidos,
                                      icon: "success",
                                      button: "Aceptar",
                                    })
                                    .then((value) => {
                                        if (response.Ruta != null) {
                                            window.location.href = '' + response.Ruta + '';
                                        } else {
                                            window.location.href = '@Url.Action("Index","Administracion")';
                                        }
                                    });
                                    
                                } else if (response.IdRol == 2) {
                                    swal({
                                      title: "Bienvenido. !",
                                      text: response.Nombre + " "+ response.Apellidos,
                                      icon: "success",
                                      button: "Aceptar",
                                    })
                                    .then((value) => {
                                        if (response.Ruta != null) {
                                            window.location.href = '' + response.Ruta + '';
                                        } else {
                                            window.location.href = '@Url.Action("Index","Administracion")';
                                        }
                                    });
                                } else if (response.IdRol == 3) {
                                    swal({
                                      title: "Bienvenido. !",
                                      text: response.Nombre + " " + response.Apellidos,
                                      icon: "success",
                                      button: "Aceptar",
                                    })
                                    .then((value) => {
                                        if (response.Ruta != null) {
                                            window.location.href = '' + response.Ruta + '';
                                        }else{
                                            window.location.href = '@Url.Action("Index","business")';
                                        }
                                    });
                                }
                            } else {
                                if (response.IdRol == -1) {
                                    swal({
                                      title: "Usuario incorrecto !",
                                      text: response.Contenido,
                                      icon: "warning",
                                      button: "Aceptar",
                                    });
                                } else if (response.IdRol == -2) {
                                    swal({
                                      title: "Password incorrecto !",
                                      text: response.Contenido,
                                      icon: "warning",
                                      button: "Aceptar",
                                    });
                                }
                            }
                        }
                    });*@

            }, timeSlide);
            return false;
        });
    });

    function validaLogin() {
        var respuesta = "";
        $('#EmailLogin').css("border", "1px solid #64C0FF");
        $('#Password').css("border", "1px solid #64C0FF");

        if ($('#EmailLogin').val().length > 0) {
            if ($('#Password').val().length > 0) {
                if (CorreoLogin() == "ok") {
                        respuesta = "ok";
                }else{
                    $('#EmailLogin').css("border", "1px solid red");
                    respuesta = "Coloca tu email correctamente";
                }
            }
            else {
                $('#Password').css("border", "1px solid red");
                respuesta = "Coloca tu password";
            }
        } else {
            $('#EmailLogin').css("border", "1px solid red");
            respuesta = "Coloca tu email";
        }
        return respuesta;
    }
</script>